/************** Estilos para la talonera ***************/
.talonera {
    list-style-type: none;
    padding: 5px;
    background-color: #2c3e50; /* Naranja pastel */
    color: #FFFFFF;
    overflow: visible;
}

.iconos {
    display: flex;
    gap: 20px; /* Espacio entre iconos */
    justify-content: center;
    padding: 20px;
}

/* Efecto hover (opcional) */
.iconos i:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.iconos i {
    font-size: 2.4em;
    transition: transform 0.3s ease;
  }
  
  .iconos i:hover {
    transform: scale(1.2);
  }
  