h1, h2, h3, h4 {
    font-family: Arial, sans-serif;
}

.encabezado {
    display: flex;
    align-items: center;
    padding-left: 10%;
    text-align: center;
}

.encabezado img {
    margin-right: 50px; /* Espacio entre el logo y el texto */
}

#header {
    background-color: #2c3e50;  /* Azul oscuro profesional */
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contenedor {
    width: 800px;
    max-width: 90%;
    background-color: rgba(216, 226, 220, 0.8); /* Blanco crema pastel con transparencia */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: justify;
    margin-top: 20px;
    backdrop-filter: blur(10px); /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con navegadores basados en WebKit */
}

body {
    background-image: url(/Imagenes/15082511_v617batch2-bb-01-technology.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
}
 